<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}" data-theme="light">
<head>
  {{- partial "seo.html" . -}}
  {{- $main := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint -}}
  <link rel="stylesheet" href="{{ $main.RelPermalink }}" integrity="{{ $main.Data.Integrity }}">
  <link rel="preconnect" href="https://fonts.bunny.net">
  <link href="https://fonts.bunny.net/css?family=inter:400,500,600,700|jetbrains-mono:400,500" rel="stylesheet">
  <link rel="icon" href="/favicon.ico">
  <script>
    (function(){
      try {
        var s = localStorage.getItem('theme');
        var m = window.matchMedia('(prefers-color-scheme: dark)').matches;
        document.documentElement.setAttribute('data-theme', s || (m ? 'dark' : 'light'));
      } catch(e) {}
    })();
  </script>
</head>
<body>
  <a href="#main" class="skip-link">Skip to content</a>
  {{- partial "header.html" . -}}
  <main id="main">
    {{- block "main" . }}{{- end }}
  </main>
  {{- partial "footer.html" . -}}
  {{- $js := resources.Get "js/theme-toggle.js" | resources.Minify | resources.Fingerprint -}}
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
</body>
</html>
